@import url(variables.css);

.top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-light {
    background-color: #fff;
    border-color: #dee2e6;
    color: #212529;
}

.btn-light .icon {
    color: #9da1a7;
    width: 16px;
    height: 16px;
}

.btn-light:hover {
    border-color: #c1c9d0;
    color: var(--bs-primary);
}

.btn-size {
    width: 40px;
    height: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.dropdown-menu .icon {
    color: #6610f2;
}